body{
	text-align: left;
	background: white;
    font-family: Arial, serif;
	color: black
}

.bgHeader {
    /* The image used */
    background-image: url("images/Temps.jpeg");

    /* Full height */
    height: 120%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1000
}

.logo { 
	top:0;
	left: 0; 
	height: 5%;
	width: 5%
}


h1{  
	font-size: 35px;
	text-align: center ;
}

h2{font-size: 25px;
	text-align: center;}
img{ width:100%;
	margin: 30px
text-align: center;}

.decoration{
	width: 200px;
}
.annexe{
	width: 100px;
	height: 100px;
}

a{text-decoration: none;
	border-radius: 10px;
	border: 10px;
	padding : 15px;}


ul{text-align: left;}
ol{text-align: left;}

p{
	text-align: center;
	margin: auto;
}

.box-white{ padding: 40px
		margin: 25px; 
		border: 8px solid black;}
.box-black{background: black;
			padding: 40px;}

.box-red{background: red;
		padding: 40px;}

.box-yellow{background: yellow;
			padding: 40px;}

.box-green{background: green;
			padding: 40px;}

.width-100px{
	width: 100%;
}

.btn{ margin-left: 75px;
		margin-right: 40px;
		margin-top: 15px; }

.fab{ font-size: 56px }

