body{
	text-align: left;
	background: white;
    font-family: Arial, serif;
   color: black
}

.logo{ top:0;
		left: 0; 
		size: 10px;}


h1{  
	color: black;
	font-size: 35px;
	text-align: center ;
	margin: 47px;}

h2{font-size: 25px;
	text-align: center;}
img{ width:100%;
	margin: 30px
text-align: center;}

.decoration{
	width: 200px;
}
.annexe{
	width: 100px;
	height: 100px;
}

a{text-decoration: none;
	border-radius: 10px;
	border: 10px;
	padding : 15px;}


ul{text-align: left;}
ol{text-align: left;}

p{
	text-align: center;
	margin: auto;
}

.box-white{ padding: 40px
		margin: 25px; 
		border: 8px solid black;}
.box-black{background: black;
			padding: 40px;}

.box-red{background: red;
		padding: 40px;}

.box-yellow{background: yellow;
			padding: 40px;}

.box-green{background: green;
			padding: 40px;}

.width-100px{
	width: 100%;
}

.btn{ margin-left: 75px;
		margin-right: 40px;
		margin-top: 15px; }

.fab{ font-size: 56px }

